@font-face {
  font-family: "SEGA LOGO FONT";
  font-style: normal;
  font-weight: normal;
  src: local("SEGA LOGO FONT"), url("SEGA.woff") format("woff");
}
h1 {
  font-family: "SEGA LOGO FONT";
  font-weight: 200;
  color: #06c4e2;
}

#Loading {
  position: fixed;
  top: 5%;
  left: 45%;
  font-size: 2em;
  
}
