@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  height: 100%;
  margin: 0;
  padding: 0;
  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  ::-webkit-search-cancel-button {
    display: none;
  }
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(
    to left,
    rgba(7, 27, 82, 1) 0%,
    rgba(0, 128, 128, 1) 100%
  );
}
input {
  outline: none;
}

.card-container {
  width: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.card-container > div {
  margin: 0.4em; /* Adds some spacing between the items */
}
